/* #region Base styles */
body {
  color: #111;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 412px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}
/* #endregion Base styles */
/* #region Common styles*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: inline-flex;
  align-items: center;
}

.logo-word {
  font-style: normal;
  margin-right: 4px;
}

.logo-img {
  margin-left: 4px;
}

.btn {
  min-width: 144px;
  min-height: 50px;
  padding: 14px 40px;
  border: 1px solid transparent;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
}

.btn-accent {
  background: #fd9222;
  color: #fff;
}

.btn-accent:hover,
.bth-accent:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.btn-light {
  color: #fff;
  background-color: transparent;
  border-color: white;
}

.btn-light:hover,
.btn-light:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: #fd9222;
  background: transparent;
  display: block;
  margin: 0 auto;
}

.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background: #fd9222;
}

.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

/* #endregion */

/* #region Header */

.header {
}

.header .container {
  display: flex;
  align-items: center;
  gap: 90px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-logo {
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-nav-item {
}
.header-nav-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-nav-link:focus,
.header-nav-link:hover {
  color: #fd9222;
}

.social {
  display: flex;
  gap: 14px;
}

.social-list {
}
.social-link {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
  color: #111;
}

.social-link svg {
  fill: currentColor;
}

/* .social-link:hover svg {
  fill: #fd9222;
} */

.social-link:hover,
.social-link:focus {
  border-color: #fd9222;
  color: #fd9222;
}

/* #endregion */

/* #region Hero */
.hero {
  margin-bottom: 80px;
}

.hero .container {
  padding: 381px 40px 40px 40px;
  background-color: rgba(17, 17, 17, 0.4);
  border-radius: 38px;

  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

/* backdrop-filter: blur(5px); */

/* Parallax effect
  background-attachment: fixed; */

/* background-clip: padding-box;
  border: 10px solid transparent; */

/* color: transparent
  /* background-image: ;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
} */

.hero-title {
  width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: white;
}

.hero-cont {
  display: flex;
  justify-content: space-between;
}

.hero-list {
  display: flex;
  gap: 14px;
}
.hero-item {
}

.hero-link {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}

.hero-link:hover svg {
  fill: #fff;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  color: #fd9222;
}

.hero-img svg {
  fill: currentColor;
}

.hero-link:hover .hero-img,
.hero-link:focus .hero-img {
  background-color: #fd9222;
  color: #fff;
}
/* #endregion */

/* #region Benefits*/
.benefits {
  background: #1e1823;
  padding: 50px;
}

.benefits .container {
  padding: 0 18px;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  max-width: 308px;
}

.benefits-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-item-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* #endregion */

/* #region Ingredients*/
.ingredients {
  padding-top: 120px;
  padding-bottom: 60px;
}
.ingredients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.ingredients-word {
  color: #fd9222;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 32px;
}
.ingredients-item {
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
  width: calc((100% - 96px) / 4);
  /* width: 260px; */
  padding: 28px 23px;
}

.ingredients-wrapper {
  position: absolute;
  top: 14px;
  right: 14px;
}

.ing-wrapper-icon {
  fill: none;
}

.ingredients-img {
  width: 214px;
  height: 160px;
  margin-bottom: 36px;
}

.ingredients-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}

.ingredients-item:nth-child(4n + 1) .ing-wrapper-icon,
.ingredients-item:nth-child(4n + 3) .ing-wrapper-icon {
  stroke: #fff;
}

.ingredients-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}

.ingredients-item:nth-child(2n) {
  border-color: #fd9222;
  color: #111;
}

.ingredients-item:nth-child(2n) .ing-wrapper-icon {
  stroke: #fd9222;
}

.ingredients-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* #endregion */

/* #region Instruction*/
.instruction {
  padding: 60px 0;
}

.instruction .container {
}

.instruction-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.instruction-word {
  color: #fd9222;
}

.wrapper {
  display: flex;
}

.lft-site {
  flex-shrink: 0;
  position: relative;
}

.lft-site-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: none;
  stroke: #fff;
}

.instruction-img {
  border-radius: 15px;
  width: 600px;
  height: 400px;
  margin-right: 20px;
}

.rgh-site {
  padding: 32px;
  border-radius: 15px;
  background: #fff;
}

.instruction-desc {
  max-width: 350px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
}

.instruction-list {
}
.instruction-item {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.instruction-item::before {
  content: "";
  border-radius: 50%;
  border: 1px solid #eceded;
  background-color: #4c4c4c;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}

.instruction-item:not(:last-child) {
  margin-bottom: 24px;
}
/* #endregion */

/* #region Products*/
.produscts {
  padding: 60px 0;
}
.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.products-word {
  color: #fd9222;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 24px;
}
.products-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: calc((100% - 54px) / 4);
  text-align: center;
  padding: 32px 20px;
}
.products-img {
  width: 230px;
  height: 201px;
  margin-bottom: 8px;
}
.products-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}
.products-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.btn-prod {
  display: block;
  margin: 0 auto;
  line-height: 1.21;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background: #fafafa;
}

.products-button {
  font-weight: 600;
  font-size: 14px;
  color: #111;
  padding: 8px auto;
  text-align: center;
}
/* #endregion */

/* #region Top*/
.top {
  padding: 60px 0;
}
.top-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.top-word {
  color: #fd9222;
}

.top-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.top-item-cont {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  padding: 28px 0;
}
.top-item {
  border-radius: 15px 15px 0 0;
  width: 368px;
}

.top-item-img {
  position: relative;
  overflow: hidden;
}

.top-img {
  border-radius: 15px 15px 0 0;
}

.top-img-text {
  padding: 0 40px;
  padding-top: 178px;
  color: #fff;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0ms linear;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}

.top-item:hover .top-img-text {
  transform: translateY(0);
}

.top-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
}
/* #endregion */

/* #region Reviews*/
.reviews {
  padding-top: 60px;
  padding-bottom: 120px;
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.reviews-word {
  color: #fd9222;
}

.reviews-list {
  display: flex;
  gap: 28px;
}

.reviews-item {
  margin-bottom: 50px;
  position: relative;
}
.reviews-img {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
}

.reviews-item-box {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
}

.reviews-item-title {
  margin: 0 auto;
  margin-top: 56px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
}
.reviews-desc {
  margin: 24px;
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  max-width: 312px;
}
/* #endregion */

/* #region Footer*/
.footer {
  background-color: #1e1823;
  padding: 50px;
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer-cont {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}

.footer-title {
  width: 300px;
  margin: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-word {
  color: #fd9222;
}

.footer-social-cont {
  margin-left: auto;
  margin-right: 50px;
}

.footer-address {
}

.footer-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fff;
  margin-bottom: 14px;
}
.footer-list {
  display: flex;
  gap: 14px;
}
.footer-item {
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.footer-link svg {
  fill: #fff;
}

.footer-list-address {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-nav-cont {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  padding-top: 24px;
}
.footer-nav-list {
  display: flex;
  gap: 24px;
}
.footer-nav-item {
}
.footer-nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
  padding: 18px 0;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fd9222;
}

.footer-subscribe {
  display: flex;
  gap: 14px;
  padding-top: 24px;
}

.footer-subscribe input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  color: #fff;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 17px 40px;
  width: 137px;
  height: 52px;
  background: #fd9222;
  color: #fff;
}

/* #endregion */
